extends layout.pug

block content
    h4.text-center About
    h6.text-flame.px-2 What is this page?
    p.px-2 This page is a place for me to store and easily find helpful links, tutorials, answers, etc. that I've found useful for past projects and research, as well as articles that I mean to read but haven't had a chance to get to yet. This application is new and additional features will be added in the future...
    h6.text-flame.px-2 What additional features will be added?
    p.px-2 TBD
    h6.text-flame.px-2 How do I create my own list?
    p.px-2 Click "Register" in the navigation menu above and sign up. Then you can start adding your own links.  To view only your links, make sure you are logged in and then click "My Articles" at the top of the articles list.
    h6.text-flame.px-2 Where is the code for this application?
    p.px-2 The code for this application can be found at 
        a.d-inline-block(href='https://github.com/Jheller11/bookmarks' target='_blank') https://github.com/Jheller11/bookmarks
        span .