html
    head
        title= title
        //- stylesheets
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
        link(rel="stylesheet" href="/stylesheets/colors.css")
        link(rel="stylesheet" href="/stylesheets/main.css")
        //- favicon
        link(rel='icon' href='/images/favicon.ico')
        block head
    body
        nav.p-2.nav.navbar-dark.bg-dark
            a.navbar-brand(href='/') Code Bookmarks
            ul.nav
                li.nav-item
                    a.nav-link.text-light(href='/articles') Articles
                li.nav-item
                    a.nav-link.text-light(href='/videos') Videos
                if (!user)
                    li.nav-item
                        a.nav-link.text-light(href='/users/login') Login
                    li.nav-item
                        a.nav-link.text-light(href='/users/signup') Register
                else
                    li.nav-item
                        a.nav-link.text-light(href='/articles/new') New
                    li.nav-item
                        a.nav-link.text-light(href='/users/logout') Logout

        //- main content
        main.p-2.bg-light.text-dark
            if (message && message.length > 0)
                .alert.alert-warning.bg-flame.text-light(role='alert') #{message}
            block content
        //- footer
        footer.p-2.bg-shadow.text-dark.container-fluid
            .row
                .col
                .col-4
                    div
                        a(href='/about') About
                    div
                        a(href='/admin/login') Admin
                .col-4 Created by Jeff Heller: 
                    a(href="mailto:heller.jeffrey@gmail.com") heller.jeffrey@gmail.com
                .col

        block script
