extends ../layout.pug

block content
    .nav
        a.nav-link(href='/articles') All
        if (user)
            a.nav-link(href='/articles/favorites') Favorites
    .list-group
        each article in articles
            a.list-group-item.list-group-item-action(href=`/articles/${article.id}`) #{article.title}

