extends ../layout.pug

block content
    .card
        .card-body
            h4.card-title Add Video:
            form(method="POST" action='/videos')
                .form-group
                    label(for='youtubeId') Youtube ID:  
                    input.form-control(type='text' name='youtubeId' required)
                    small.text-muted Explain how to get ID.
                .form-group
                    label(for='title') Title:
                    input.form-control(type='text' name='title' required)
                .row
                    .col
                        label(for='tags') Tags:
                    .col
                        input.form-control(type='text' name='tags')
                    .col
                        input.form-control(type='text' name='tags')
                    .col
                        input.form-control(type='text' name='tags')
                    .col
                        input.form-control(type='text' name='tags')
                    .col
                        input.form-control(type='text' name='tags')

                .form-group
                    label(for='notes') Notes:
                    input.form-control(type='textarea' name='notes')
                button.btn.btn-outline-dark.mr-4(type="submit") Create
                button.btn.btn-outline-dark(type="reset") Clear


