extends ../layout.pug

block content
    //- content to include [Username, Edit Account(username, password), Links(my articles, my videos, new article, new video, search)]
    .container-fluid
        .row
            .col-sm-6
                .card
                    .card-body
                        h4.card-title.text-flame User Info
                        p.card-text Username: 
                            span.text-flame #{user.local.displayName}
                        p.card-text Email: 
                            span.text-flame #{user.local.email}
                        p.d-flex.justify-content-around
                            a.btn.btn-light.btn-sm.border-dark(href='#') Edit Username
                            a.btn.btn-light.btn-sm.border-dark(href='#') Change Password

            .col-sm-6
        .row
            .col-sm-6
            .col-sm-6