extends ../layout.pug

block content
    .card
        .card-body
            h4.card-title Register:
            form(method="POST" action='/users/signup')
                .form-group
                    label(for='email') Email Address:
                    input.form-control(type='text' placeholder='jdoe@gmail.com' name='email' required)
                .form-group
                    label(for='password') Password:
                    input.form-control(type='password' name='password' minlength='8' required)
                    small.form-text.text-muted Password must be at least 8 characters.
                .form-group
                    label(for='displayName') Username:
                    input.form-control(type='text' placeholder='eg. John D.' name='displayName' required)
                button.btn(type="submit") Register
            div Already have an account? 
                a(href="/users/login") Sign in here.